label.ff-bold.mr-3.my-auto{
	min-width: 120px;
}



.purple{
	color: #8b4b61;
	
}
input, select{
	min-width: 280px;
	max-width:280px;
}

.divFormStyles{
	padding: 10px;
}

.ageStyles{
	padding: 30px;
}
.nameStyle{
	padding: 9px;
	font-weight: 600;
}

.container{
	text-align: center;
	font-weight: 600;
}